<!DOCTYPE html>
<html>
  <head>
    <title>Main page</title>
    <link href="../static/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div
        class="m-1 text-center bg-image"
        style="
          background-image: url('../static/images/face-auth-icon.webp');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          height: 400px;
        "
      >
      </div>
      <div class="mask m-1" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white mb-2 center">
            <h1 class="mb-3">This is an API for face authentication</h1>
            <a class="btn btn-outline-light btn-lg" href="/docs" role="button">
              Read documentation
            </a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>